{% extends 'layouts/base.html' %}

{% block title %} Venda {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Venda</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item active" aria-current="page">Venda</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <!--<a href="{{url_for('livro_blueprint.page_livros_cadastrar')}}" class="btn btn-sm btn-neutral">Cadastrar</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Venda</h3>
          </div>
          <!-- Light table -->
           
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Título</th>
                  <th scope="col" class="sort" data-sort="name">Autor</th>
                  <th scope="col" class="sort" data-sort="budget">Preço</th>
                  <th scope="col" class="sort" data-sort="budget">Estoque</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% if livros %}
                {% for livro in livros %}
                <tr>
                  <th>
                    <span class="name mb-0 text-sm">{{livro.id}} - {{ livro.titulo }}</span>
                  </th>
                  <td>
                    <span class="name mb-0 text-sm">{{livro.autor}}</span>
                  </td>
                  <td class="budget">
                    R$ {{livro.preco}}
                  </td>
                  <td>
                    <span class="name mb-0 text-sm">{{livro.estoque}}</span>
                  </td>
                  <td class="text-right">
                    <a href="{{url_for('livro_blueprint.page_livros_cadastrar')}}" class="btn btn-sm btn-primary">Vender</a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
