{% extends 'layouts/base.html' %}

{% block title %} Funcionario - Cadastrar {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Funcionario</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="{{url_for('funcionario_blueprint.page_funcionario')}}">Funcionario</a></li>
                <li class="breadcrumb-item active" aria-current="page">Cadastrar</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Cadastrar Funcionario</h3>
          </div>
          <!-- Formulário de cadastro de livro-->
          <div class="card-body">
            <form method="POST" class="form-register">
              {{ form.hidden_tag() }}
              <h6 class="heading-small text-muted mb-4">Dados cadastrais</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      {{ form.nome.label(class="form-control-label") }}
                      {{ form.nome(class="form-control", placeholder="Digite o nome do funcionario") }}
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      {{ form.cpf.label(class="form-control-label") }}
                      {{ form.cpf(class="form-control", placeholder="Digite o CPF") }}
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      {{ form.salario.label(class="form-control-label") }}
                      {{ form.salario(class="form-control", placeholder="Digite o salario") }}
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      {{ form.cargo.label(class="form-control-label") }}
                      {{ form.cargo(class="form-control", placeholder="Digite o cargo") }}
                    </div>
                </div>
                <div class="col-lg-3">
                  <div class="form-group">
                    {{ form.setor.label(class="form-control-label") }}
                    {{ form.setor(class="form-control", placeholder="Digite o cargo") }}
                  </div>
              </div>
              </div>
              <hr class="my-4" />
              <!-- Operacionais -->
              <h6 class="heading-small text-muted mb-4">Dados de acesso</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-3">
                    <div class="form-group">
                      {{ form.login.label(class="form-control-label") }}
                      {{ form.login(class="form-control", placeholder="Digite o login") }}
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="form-group">
                      {{ form.senha.label(class="form-control-label") }}
                      {{ form.senha(class="form-control", placeholder="Digite o senha") }}
                    </div>
                  </div>
              </div>
              <div class="col-lg-12 col-5 text-right">
                {{ form.submit(class="btn btn-sm btn-primary") }}
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
