<!--Adaptar para cliente-->

{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
  <!-- Content here -->
  <form method="POST">
    {{ form.hidden_tag() }}

    {{form.nome.label(class="form-label") }}
    {{form.nome(class="form-control", placeholder="Digite seu nome aqui") }}
    {{form.cpf.label(class="forma-label")}}
    {{form.cpf(class="form-control", placeholder="Digite seu cpf aqui") }}
    {{form.isbn.label(class="form-label")}}
    {{form.isbn(class="form-control",placeholder="Digite o codigo isbn")}}
    {{form.preco.label(class="form-label")}}
    {{form.preco(class="form-control",placeholder="Digite o preço")}}
    {{form.estoque.label(class="form-label")}}
    {{form.estoque(class="form-control",placeholder="Digite a quantidade")}}
    <br>
    {{ form.submit(class="btn btn-primary") }}
  </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}