{% extends 'base.html' %}

{% block content %}
<br>
<div class="container">
  <!-- Formulário de Cadastro de Funcionário -->
  <form method="POST">
    {{ form.hidden_tag() }}
    
    <!-- Campo para Nome do Funcionário -->
    <div class="mb-3">
      {{ form.nome.label(class="form-label", text="Nome") }}
      {{ form.nome(class="form-control", placeholder="Digite o nome completo") }}
    </div>
    
    <!-- Campo para CPF do Funcionário -->
    <div class="mb-3">
      {{ form.cpf.label(class="form-label", text="CPF") }}
      {{ form.cpf(class="form-control", placeholder="Digite o CPF") }}
    </div>

    <!-- Campo para Setor do Funcionário -->
    <div class="mb-3">
      {{ form.setor.label(class="form-label", text="Setor") }}
      {{ form.setor(class="form-control", placeholder="Digite o setor") }}
    </div>

    <!-- Campo para Cargo do Funcionário -->
    <div class="mb-3">
      {{ form.cargo.label(class="form-label", text="Cargo") }}
      {{ form.cargo(class="form-control", placeholder="Digite o cargo") }}
    </div>
    
    <!-- Campo para Salário do Funcionário -->
    <div class="mb-3">
      {{ form.salario.label(class="form-label", text="Salário") }}
      {{ form.salario(class="form-control", placeholder="Digite o salário") }}
    </div>
    
    <!-- Campo para Data de Admissão -->
    <div class="mb-3">
      {{ form.data_admissao.label(class="form-label", text="Data de Admissão") }}
      {{ form.data_admissao(class="form-control", placeholder="Digite a data de admissão") }}
    </div>

    <br>
    <!-- Botão de Submissão -->
    <div class="text-center">
      {{ form.submit(class="btn btn-primary", text="Cadastrar") }}
    </div>
  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
{% endblock %}
