{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
  <!-- Content here -->
  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                Livros
              </div>
              <div class="col text-end">
                <a href="#">
                    <button type="button" class="btn btn-primary">Cadastrar livro</button>
                </a>
              </div>
            </div>
          </div>
      </li>
      <li class="list-group-item">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Título</th>
                <th scope="col">Autor</th>
                <th scope="col">Preço</th>
                <th scope="col">Estoque</th>
              </tr>
            </thead>
            <tbody>
            {% if len(livros) > 0 %}
              {% for livro in livros %}
              <tr>
                <th scope="row">{{ livro.id }}</th>
                <td>{{ livro.titulo }}</td>
                <td>{{ livro.autor }}</td>
                <td>{{ livro.preco }}</td>
                <td>{{ livro.estoque }}</td>
              </tr>
              {% endfor %}
            {% endif %}
            </tbody>
          </table>
      </li>
    </ul>
  </div>

{% endblock %}