{% extends 'base.html' %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Preço</th>
        <th scope="col">Estoque</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for livro in livros %}
        <tr>
            <th scope="row">{{livro.id}}</th>
            <td>{{livro.titulo}}</td>
            <td>{{livro.autor}}</td>
            <td>R${{livro.preco}}</td>
            <td>{{livro.estoque}}</td>
            <td>add</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}